button {
background-color: #04AA6D;
color: #ffffff;
border: none;
padding: 6px 12px;
font-size: 12px;
font-family: Raleway;
cursor: pointer;
}

button:hover {
opacity: 0.8;
}

#prevBtn {
background-color: #bbbbbb;
}
#close {
background-color: red;
}

/* Make circles that indicate the steps of the form: */
.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

.actives {
height: 15px;
width: 15px;
margin: 0 2px;
background-color:green;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
opacity: 1;
}

.finish {
height: 15px;
width: 15px;
margin: 0 2px;
background-color:green;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
opacity: 1;
}


#r_prevBtn {
background-color: #bbbbbb;
}
#r_close {
background-color: red;
}

/* Make circles that indicate the steps of the form: */
.r_step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbbbbb;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

.r_actives {
height: 15px;
width: 15px;
margin: 0 2px;
background-color:green;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
opacity: 1;
}

.r_finish {
height: 15px;
width: 15px;
margin: 0 2px;
background-color:green;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
opacity: 1;
}




    #MprevBtn {
    background-color: #bbbbbb;
    }
    #Mclose {
    background-color: red;
    }
    
    /* Make circles that indicate the steps of the form: */
    .Mstep {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    }
    
    .Mactives {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:green;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    opacity: 1;
    }
    
    .Mfinish {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:green;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    opacity: 1;
    }



       #PprevBtn {
        background-color: #bbbbbb;
        }
        #Pclose {
        background-color: red;
        }
        
        /* Make circles that indicate the steps of the form: */
        .Pstep {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
        }
        
        .Pactives {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color:green;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
        opacity: 1;
        }
        
        .Pfinish {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color:green;
        border: none;  
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
        opacity: 1;
        }